<!DOCTYPE html>
<html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Blog Django Girls</a></h1>
        </header>

        <article>
            <time>publication: 19.11.2022, 17:17</time>
            <h2><a href="">Mon premier article</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </article>

        <article>
            <time>publication: 19.11.2022, 17:17</time>
            <h2><a href="">Mon second article</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </article>
    </body>
</html>
